<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>td5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DBEC39D11E5B1B2100F3D8C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBEC39E51E5B1B2100F3D8C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBEC39F01E5B1B2100F3D8C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
